*~
.vagrant/
nodes/
ubuntu-xenial-16.04-cloudimg-console.log
playbook.retry
.vscode
/openshift/openshift.local.config
/google-kubernetes/cockroachdb/cert

kubernetes/04-gitlab/gitlab-secrets\.yml

kubernetes/04-gitlab/secrets/gitlab-secrets\.yml
