[Unit]
Description=SnappyData: OLTP + OLAP Database built on Apache Spark http://www.snappydata.io

[Service]
Type=oneshot
ExecStart=/home/vagrant/snappydata/build-artifacts/scala-2.10/snappy/sbin/snappy-start-all.sh
ExecStop=/home/vagrant/snappydata/build-artifacts/scala-2.10/snappy/sbin/snappy-stop-all.sh
RemainAfterExit=yes
User=vagrant
Group=vagrant

[Install]
WantedBy=network-online.target