[Unit]
Description=SnappyData: OLTP + OLAP Database built on Apache Spark http://www.snappydata.io
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/snappydata/src/build-artifacts/scala-2.11/snappy/sbin/snappy-start-all.sh
ExecStop=/opt/snappydata/src/build-artifacts/scala-2.11/snappy/sbin/snappy-stop-all.sh
User=snappydata
Group=snappydata
WorkingDirectory=/opt/snappydata/src/build-artifacts/scala-2.11/snappy
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
